<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Tugboat Maguire</title>
        <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
        deserunt mollit anim id est laborum" >
    </head>
    <body>
        <h1> Tobey "Tugboat" Maguire</h1>
        <p>At the premiere of The Cider House Rules in 1999, Tobey famously tackled screenwriter and novelist John Irving 
        to the ground when, during the credits, he saw that he was listed as “Tobey Maguire” instead of “Tugboat Maguire,” 
        resulting in a prolonged hospital stay for the National Book Award winner. Yikes!</p>

        <table>
            <thead>
                <tr>
                    <th>Year</th>
                    <th>Award</th>
                    <th>Physical Altercation</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1999</td>
                    <td>Academy Awards</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td>2002</td>
                    <td>Golden Globe</td>
                    <td>Yes</td>
                </tr>
            </tbody>
        </table>

        <ul>
            <li>
                <p>SpiderMan</p>
            </li>
            <li>
                <p>SpiderMan 2</p>
            </li>
            <li>
                <p>SpiderMan 3</p>
            </li>
        </ul>

        <a href="http://www.google.com">Click here to go to Tugboat Maguire's fanpage</a>

        <p>Please take this short survey</p>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email">

        <p>Select your gender:</p>
        <label for="male">Male</label>
        <input type="radio" id="male" name="gender" value="male">
   
        <label for="female">Female</label>
        <input type="radio" name="gender" value="female">

        <p>What is your preferred nickname for Tobey Maguire?</p>
        <label for="Tugboat">Tugboat</label>
        <input type="checkbox" id="tugboat" name="nick" value="tugboat">
    
        <label for="Tobias">Tobias</label>
        <input type="checkbox" id="Tobias" name="nick" value="Tobias">
   
        <label for="Tom">Tom</label>
        <input type="checkbox" id="Tom" name="nick" value="Tom">

        <input type="submit" value="Submit">

    </body>
</html>
